

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	font-size: 18px;
}

.color1{
	background-color: red;
}


.color2{
	background-color: blue;
}














