

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	font-size: 18px;
	/*background-color: #4A4A4A;*/
}

.color1{
	background-color: #F15757;
}


.color2{
	background-color: #5CD4DC;
}

.centrado{
	text-align: center;
}












